@use './variables.scss' as *;

@mixin flex {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

@mixin smallerPhone {
  @media (min-width: #{$smallerPhone}) and (max-width: #{$mostPhone - 1}) {
    @content;
  }
}
@mixin mostPhone {
  @media (min-width: #{$mostPhone}) and (max-width: #{$mostTablets - 1}) {
    @content;
  }
}
@mixin toggleSwitch {
  @media (max-width: #{$mostPhone}) {
    @content;
  }
}
@mixin mostTablets {
  @media (min-width: #{$mostTablets}) and (max-width: #{$smallerDesktop - 1}) {
    @content;
  }
}
@mixin smallerDesktop {
  @media (min-width: #{$smallerDesktop}) and (max-width: #{$largeDevices - 1}) {
    @content;
  }
}
@mixin largeDevices {
  @media (min-width: #{$largeDevices}) {
    @content;
  }
}
