/*COLOR*/

$main_color: #e2e2e2;
$accent_color: #64b8ec;

/*RWD*/

$smallerPhone: 240px;
$mostPhone: 480px;
$mostTablets: 768px;
$smallerDesktop: 992px;
$largeDevices: 1200px;

// RESPONSIVE VARIABLES

// FONT SIZE
$font_size_to_340: 0.8rem;
$font_size_to_576: 1.1rem;
$font_size_to_1200: 1.1rem;
$font_size_over_1200: 1.3rem;

$button_to_340: 0.8rem;
$button_to_576: 1.1rem;
$button_to_1200: 1.1rem;
