@use '../_abstracts/index' as *;

// Basic Button Style
.btn {
  @include flex;
  appearance: none;
  background-color: transparent;
  border: 3px solid $accent_color;
  border-radius: 0;
  color: $accent_color;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 150ms ease-in-out;

  &:hover,
  &:focus {
    color: $accent_color;
    outline: 0;
  }
  &:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    transform: translateX(0);
    width: 0;
    height: 100%;
    background: $accent_color;
    z-index: -1;
    transition: width 150ms ease-in-out;
  }

  &:hover {
    color: #fff;
    &:after {
      width: 110%;
    }
  }
  &:disabled {
    color: rgba(#808080, 0.5);
    border-color: rgba(#808080, 0.5);
  }
}
/*******MEDIA_QUERY*************/

@include smallerPhone {
  .btn {
    font-size: $font_size_to_340;
    border-width: 1px;
  }
}
@include mostPhone {
  .btn {
    font-size: $font_size_to_340;
  }
}
