@use '../_abstracts/index' as *;

.input {
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  line-height: 1rem;
  text-align: center;
  border: none;
  outline: none;
  border-bottom: 1px solid $accent_color;
  background-color: transparent;
  transition: all linear 0.2s;
  &:focus {
    border-bottom: 2px solid $accent_color;
    background-color: rgba($accent_color, 0.1);
  }
}
.form-label {
  display: none;
}

/*******MEDIA_QUERY*************/

@include smallerPhone {
  .input {
    font-size: $font_size_to_340;
  }
}
@include mostPhone {
  .input {
    font-size: $font_size_to_340;
  }
}
