@use '../_abstracts/mixin.scss' as *;

.switch-box {
  @include flex;
  display: none;
  flex-direction: column;
  .switch-list {
    list-style: none;
    display: inline-flex;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    background-color: #fff;
    margin: 0 0 2rem 0;
    padding: 0;

    .list-item {
      width: 5.5rem;
      text-align: center;
      color: #000;
      padding: 1rem;
      text-decoration: none;
      transition: 0.3s;
      z-index: 1;
      position: relative;
      cursor: pointer;

      &.selected {
        background-color: #4bcffa;
      }
    }
  }
}

@media (max-width: 900px) {
  .switch-box {
    display: flex;
  }
}
