@use './_base/index.scss' as *;
@use './_abstracts/index.scss' as *;
@use './_components/index.scss' as *;

html,
body {
  background-color: $main_color;
  color: rgb(0, 0, 0);
  box-sizing: border-box;
  font-size: 18px;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

.container {
  @include flex;
  flex-direction: column;
}
.page-headline {
  @include flex;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  margin: 2rem 2rem;
  padding: 0 1rem 1rem 1rem;
}
.recived-message {
  text-align: left;
}
.my-message {
  justify-content: end;
}
.my-message-color {
  background-color: #e2e2e2 !important;
}
.none {
  display: none;
}
.error-message {
  display: block;
  color: #dc3545;
  text-align: center;
}
